.metadata
bin/
tmp/
*.tmp
target/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
*.launch

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/